### This notebook tests the evaluation of the trained model

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys

/var/folders/8j/ybqbv42143jfglvsf83t5s_c0000gn/T/ipykernel_72196/2845235445.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# load the test data
df = pd.read_csv('../data/permit-time-testing.csv')

In [4]:
df.head(5)

,building_type_description,work_nature,number_of_units,longitude,latitude,approval_time
0,Commercial,RENOVATION,0.0,-73.573484,45.502262,56
1,Résidentiel,CONSTRUCTION,0.0,-73.640362,45.530166,90
2,Commercial,CONSTRUCTION,0.0,-73.538763,45.482643,186
3,Résidentiel,CONSTRUCTION,6.0,-73.571615,45.482013,43
4,Commercial,DEMOLITION,0.0,-73.546034,45.543121,0

### Pre-processing data to make ti equivalent to the trained model

In [5]:
# encode building type description
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder object
onehot_encoder = OneHotEncoder()

testing_df = df

# Encode the work nature
encoded_work_nature = onehot_encoder.fit_transform(testing_df['work_nature'].values.reshape(-1,1)).toarray()

# Encode the building type description
# encoded_building_type_description = onehot_encoder.fit_transform(testing_df['building_type_description'].values.reshape(-1,1)).toarray()
# print(encoded_work_nature)

In [6]:
# Create a dataframe from the encoded work nature
work_nature_df = pd.DataFrame(encoded_work_nature, columns=['construction', 'demolition', 'renovation'])

# Concatenate the dataframes
testing_df = pd.concat([testing_df, work_nature_df], axis=1)

In [7]:
testing_df.head(5)

,building_type_description,work_nature,number_of_units,longitude,latitude,approval_time,construction,demolition,renovation
0,Commercial,RENOVATION,0.0,-73.573484,45.502262,56,0.0,0.0,1.0
1,Résidentiel,CONSTRUCTION,0.0,-73.640362,45.530166,90,1.0,0.0,0.0
2,Commercial,CONSTRUCTION,0.0,-73.538763,45.482643,186,1.0,0.0,0.0
3,Résidentiel,CONSTRUCTION,6.0,-73.571615,45.482013,43,1.0,0.0,0.0
4,Commercial,DEMOLITION,0.0,-73.546034,45.543121,0,0.0,1.0,0.0

In [8]:
# Drop the work nature column
testing_df = testing_df.drop(['work_nature'], axis=1)

In [9]:

# Encode the building type description
encoded_building_type = onehot_encoder.fit_transform(testing_df['building_type_description'].values.reshape(-1,1)).toarray()

# add the encoded building types to the dataframe
building_types_df = pd.DataFrame(encoded_building_type, columns=['building_type_'+str(int(i)) for i in range(encoded_building_type.shape[1])])
testing_df = pd.concat([testing_df, building_types_df], axis=1)

In [10]:
# drop the building type description column
testing_df.drop('building_type_description', axis=1, inplace=True)
testing_df.head(5)

,number_of_units,longitude,latitude,approval_time,construction,demolition,renovation,building_type_0,building_type_1,building_type_2,...,building_type_8,building_type_9,building_type_10,building_type_11,building_type_12,building_type_13,building_type_14,building_type_15,building_type_16,building_type_17
0,0.0,-73.573484,45.502262,56,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,-73.640362,45.530166,90,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,-73.538763,45.482643,186,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6.0,-73.571615,45.482013,43,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,-73.546034,45.543121,0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0